@* @{
    ViewData["Title"] = "Главная";
}

<section class="main">
    <div class="intro-container">
        @await Html.PartialAsync("Partials/Main/_SiteStats");
    </div>    
   
</section>

 *@

@{
    ViewData["Title"] = "Backend Status";
}

<h2>Статус системы</h2>
<p>Время на сервере: @DateTime.Now</p>
<p>Окружение: @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</p>