@* @{
    ViewData["Title"] = "Главная";
}

<section class="main">
    <div class="intro-container">
        @await Html.PartialAsync("Partials/Main/_SiteStats");
    </div>    
   
</section>

 *@

@{
    ViewData["Title"] = "Backend Status";
}

<h2>Статус системы</h2>
<p>Время на сервере: @DateTime.Now</p>
<p>Окружение: @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")</p>
<p>Перейти к статистике сайта(json): <a href="http://localhost:5194/api/site/stats">http://localhost:5194/api/site/stats</a></p>
<p>Перейти к информации об авто(json): <a href="http://localhost:5194/api/site/carInfo">http://localhost:5194/api/site/carInfo</a></p>