:root {
  --main-color: #a13248;
  --color-background: #0a0914;
  --shadow-external: 0px 0px 5px 5px rgba(161, 50, 72, 0.2);
  --radius: 50px;
  --time: 0.2s;
  --cubik: cubic-bezier(0.54, 0.82, 0.49, 0.21);
}

header,
footer,
body,
#root {
  max-width: 1920px;
  margin: auto;
}

#root {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-1-0-auto {
  flex: 1 0 auto;
}

.flex-0-0-auto {
  flex: 0 0 auto;
}

.footer {
  padding: 15px 0;
  border-top: 1px solid #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h2 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  box-shadow: 0px 34px 22px -11px rgba(255, 255, 255, 0.2);
  width: auto;
  max-width: 200px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-collapse ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
}

.navbar-collapse ul > li {
  padding: 0 15px;
}

.navbar-toggler {
  display: none;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow:
    0 0 0 0.1rem white,
    0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: var(--color-background);
  font-family: "Montserrat", sans-serif;
  margin-left: 0;
  margin-right: 0;
}

.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.call-link-header {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: var(--time) var(--cubik);
  padding: 5px;
  font-size: 14px;
  opacity: 0.7;
}

.call-link-header:hover {
  box-shadow: 0px 0px 26px 8px rgba(255, 255, 255, 0.2);
  scale: 1.05;
  transition: var(--time) var(--cubik);
  opacity: 1;
}

container-fluid {
  display: flex;
  justify-content: space-between;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link.btn-menu {
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 10px;
}

.container {
  max-width: 1920px;
  padding: 0 15px;
}

.main {
  max-width: 1920px;
  width: 100%;

  margin: auto;
}

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 300px;
  height: auto;
  padding-left: 15px;
  margin-bottom: 100px;
}

.navbar-brand {
  color: #fff;
  padding: 10px 20px;
}

.btn-menu,
.navbar-brand {
  color: #fff;
  border-radius: 25px;
  transition: var(--time) var(--cubik);
}

.btn-menu:hover,
.navbar-brand:hover {
  color: #333;
  background: #fff;
  transition: var(--time) var(--cubik);
}

.intro-container .image-right {
  background: url("../images/background-main.jpg") center no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: var(--radius) 0 0 0;
}

.image-right::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.intro-container > * {
  flex: 1;
}

h1.intro {
  color: #fff;
  font-size: 72px;
  text-transform: uppercase;
}

.intro-container .btn-round {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  z-index: 2;
  transition: var(--time) var(--cubik);
}

.intro-container .btn-round:hover {
  scale: 1.1;
  transition: var(--time) var(--cubik);
}

.left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-info {
  color: #fff;
  font-size: 20px;
}

.company-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 130%;
  background: var(--color-background);
  padding: 40px;
  padding-left: 0;
  z-index: 3;
  margin-bottom: 0;
  border-radius: 0 var(--radius) 0 0;
}

.company-stats li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
}

.stat-number {
  font-size: 60px;
  line-height: 60px;
}

.no-padding {
  padding: 0 !important;
}

.no-background {
  background: transparent !important;
}

.white-round {
  background: #fff;
  color: var(--color-background);
  border-radius: 15px;
  text-align: center;
  padding: 0 20px;
}

.call-link-header > span {
  color: #fff;
  text-align: right;
}

.contacts-intro {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 100;
}

.copyright {
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 25px;
  transition: var(--time) var(--cubik);
}

.copyright:hover {
  color: #000;
  background-color: #fff;
  transition: var(--time) var(--cubik);
}

.center-position-container {
  display: flex;
  justify-content: center;
}

.manager-contacts {
  padding-right: 15px;
}

.model-list {
  padding: 0 15px;
  margin: auto;
  margin-bottom: 100px;
}

.model-header {
  color: #fff;
  text-align: center;
  font-size: 48px;
}

.model-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.model-list-container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.model-list-container .row a {
  flex-basis: 45%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 25px;
  padding: 20px;
}

.model-list-container .row a::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: #000;
  opacity: 0.7;
  transition: var(--time) var(--cubik);
  border-radius: 25px;
}

.model-list-container .row a:hover::after {
  opacity: 0.4;
}

.model-list-container a > .info-container {
  position: relative;
  z-index: 2;
  max-width: 400px;
  left: 5%;
}

.model-list-container a > .info-container h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
}

.model-list-container a > .info-container p {
  color: #fff;
  font-size: 20px;
}

.advantages {
  margin-bottom: 100px;
}

.advantages-block {
  display: flex;
  flex-direction: row;
}

.advantages-block .images-left,
.advantages-block .information-right {
  flex-basis: 50%;
}

.advantages-block .information-right {
  text-align: center;
  color: #fff;
}

.advantages-block .information-right h3 {
  font-size: 48px;
  text-align: left;
  padding: 0 30px;
  max-width: 650px;
  margin: auto;
  margin-bottom: 30px;
}

.advantages-block .information-right p {
  font-size: 24px;
  padding: 0 30px;
  max-width: 400px;
  margin: auto;
}

.advantages-block .bg-image {
  background: url("../images/Home/background-main-adv.jpg") center no-repeat;
  height: 500px;
  background-size: cover;
  border-radius: 0 100px 100px 0;
}

.page-header {
  color: #fff;
  padding: 0 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  box-shadow: 0px 34px 22px -11px rgba(255, 255, 255, 0.2);
  max-width: 400px;
  margin: auto;
  border-radius: 0 0 70px 40px;
  margin-bottom: 30px;
}

.conditions {
  background: url("../images/conditions/background-e36.jpg") center no-repeat;
  max-width: 1920px;
  /* height: 750px; */
  background-size: cover;
  padding: 15px 0;
}

.conditions .cards-container {
  display: flex;
  flex-direction: row;
  max-width: 1920px;
  padding: 0 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.conditions .cards-container .condition-card {
  border: 1px solid#fff;
  border-radius: 20px;
  padding: 20px;
  flex-basis: 30%;
  position: relative;
}

.conditions .cards-container .condition-card::after {
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  transition: var(--time) var(--cubik);
}

.conditions .cards-container .condition-card:hover::after {
  opacity: 0;
  transition: var(--time) var(--cubik);
}

.condition-card > h4 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.condition-card > p {
  color: #fff;
  text-align: center;
  font-weight: 200;
  font-size: 18px;
}

.reviews {
  background: url("../images/reviews/background-accord-7.jpg") center no-repeat;
  max-width: 1920px;
  /* height: 750px; */
  background-size: cover;
  padding: 15px 0;
}
