:root {
    --main-color: #a13248;
    --color-background: #1c1918;
    --shadow-external: 0px 0px 5px 5px rgba(161, 50, 72, 0.2);
    --radius: 10px;
    --time: 0.2s;
    --cubik: cubic-bezier(.54,.82,.49,.21);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: var(--color-background);
    font-family: 'Montserrat', sans-serif;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.call-link-header{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

container-fluid {
    display: flex;
    justify-content: space-between;
}

.navbar-collapse{
    flex-grow: 0;
}

.nav-link.btn-menu{
    font-size: 20px;
    text-transform: uppercase;
}

.container {
    max-width: 1920px;
    padding: 0 15px;
}

.main{
   max-width: 1920px;
   width: 100%;
   
   margin: auto;
}

.intro-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 300px;
    height: 600px;
}

.navbar-brand{
    color: #fff;
}

.btn-menu,
.navbar-brand {
    color: #fff;
    border-radius: 25%;
    transition: var(--time) var(--cubik);
    padding: 0 30px;
}

.btn-menu:hover,
.navbar-brand:hover{
    color: #333;
    background: #fff;
    transition: var(--time) var(--cubik);
    border-radius: 7px;
    padding: 0 30px;
}

.intro-container .image-right {
    background: url("../images/background-main.jpg") center no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-right::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.intro-container > *{
    flex: 1;
}

h1.intro {
    color: #fff;
    font-size: 72px;
    text-transform: uppercase;
}

.intro-container .btn-round {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}