<div class="left-block">
    <h1 class="intro">Аренда<br />автомобилей<br />в Минске</h1>
    <div class="main-info">Широкий ассортимент автомобилей<br />эконом, комфорт и премиум класса</div>
    <ul class="company-stats">
        <li><span class="white-round">без водителя</span><span class="white-round">доступен выезд за город</span></li>
        <li><span class="stat-number">@Model.TotalClients+</span><span>клиентов</span></li>
        <li><span class="stat-number">@Model.TotalCars+</span><span>автомобилей</span></li>
        <li class="no-background"><span class="stat-number">@Model.YearsOnMarket+</span><span>лет на рынке</span></li>
    </ul>
</div>
<div class="image-right">
    <a class="btn-round" asp-controller="Home" asp-action="Catalog">перейти<br />в автопарк</a>
</div>
